.wetherBg{
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading{
  color:white;
  font-weight: 700;
}
.wetherResultBox{
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 100;
}
.weathorIcon{
  margin-top: 2rem;
  width: 70px;
  height: 70px;
}
.weathorCity{
  font-size: 50px;
  font-weight: 500;
}
.weathorTemp{
  font-size:55px;
  font-weight: 700;
}